body {
  margin: 20% auto;
  width: 50%;
  height: 75%;
  background-color: rgb(255, 227, 174);
  text-align: center;
}

#firstnumber {
  font-size: 24px;
}

#secondnumber {
  font-size: 24px;
}

#first-Number {
  width: 5%;
}

#second-Number {
  width: 5%;
}